<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ecommerce" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ecommerce" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ecommerce" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="ecommerce" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Woodsam</title>

  <link rel="shortcut icon" href="/static/images/favicon.ico">

  <meta name="description" content="World's Largest Home Living Retailer">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/static/js/html5-boilerplate/modernizr-2.6.2.min.js"></script>
  <script src="/static/js/jquery/jquery.min.js"></script>
  <script src="/static/js/flexslider/jquery.flexslider-min.js"></script>
  <!-- <script src="/static/js/angular/angular.min.js"></script>
  <script src="/static/js/angular-route/angular-route.min.js"></script>
  <script src="/static/js/angular-flexslider/angular-flexslider.js"></script> -->

  <!-- html5-boilerplate css -->
  <link rel="stylesheet" href="/static/css/html5-boilerplate/normalize.css">
  <link rel="stylesheet" href="/static/css/html5-boilerplate/main.css">
  <!-- bootstrap css -->
  <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
  <!-- flex-slider css -->
  <link rel="stylesheet" type="text/css" href="/static/css/flexslider/flexslider.css">
  <!-- customized css -->
  <link rel="stylesheet" href="/static/css/project/style.css">
</head>
<body>
  {% load staticfiles %}
  <div class="wrapper">
    {% include 'basic/header.html' %}
    <!--<div class="container" ng-include="'views/home.html'"></div>-->
    <div class="container">{% block content %}{% endblock %}</div></div>

    {% include 'basic/footer.html' %}
    </footer>
  </div>
</body>
</html>
