<footer class="container clearfix">
  <div class="row newsletter">
    <form>
      <div class="col-md-3 col-md-offset-1 label">
        <h3>Newsletter Sign Up</h3>
      </div>
      <div class="col-md-7">
        <input class="email" type="text" placeholder="Email Address...">
        <input class="btn" type="submit" value="Confirm">
      </div>
    </form>
  </div>
  <div class="row nav">
    <div class="col-md-4 col-md-push-4 rights">@2015 Woodson Group All Rights Reserved</div>
    <nav class="col-md-4 col-md-pull-4 left">
      <ul class="row">
        <li class="col-sm-4"><a href="#">Support</a></li>
        <li class="col-sm-4"><a href="#">Shipping</a></li>
        <li class="col-sm-4"><a href="#">Returns</a></li>
      </ul>
    </nav>
    <nav class="col-md-4 right">
      <ul class="row">
        <li class="col-sm-4"><a href="#">About</a></li>
        <li class="col-sm-4"><a href="#">Contact</a></li>
        <li class="col-sm-4"><a href="#">Terms&Privacy</a></li>
      </ul>
    </nav>
  </div>