<header class="container">
  <div class="header container clearfix">
    <div class="row">
      <div class="col-xs-12 contact">Contact Us: <span class="tel">123-456-7890</span></div>
    </div>
    <nav class="row">
      <div class="col-md-3 logo"><a class="clearfix" href="/"><img src="/static/images/logo.png" alt="logo"></a></div>
      <div class="col-md-4 col-md-push-1 nav-mid">
        <h3>Products</h3>
      </div>
      <div class="col-md-3 nav-right">
        <ul class="tools">
          <li><a class="search glyphicon glyphicon-search" href="#/search"></a></li>
          <li><a class="shopping-cart glyphicon glyphicon-shopping-cart" href="/cart/"></a></li>
          <li><a class="user-info glyphicon glyphicon-user" href="/account/register/"></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

