{% extends 'basic/basic.html' %}

{% block content %}

{% load carton_tags %}
{% get_cart as cart %}


<main>
  <!-- shopping cart section -->
  <form class="shopping-cart" action='/order/checkout/'>
    <div class="checkout top row">
      <div class="title col-md-6">
        <h2>Shopping Cart</h2>
      </div>
      <div class="col-md-6 checkout-btn">
        <input class="btn" type="submit" value="Secure Checkout">
      </div>
    </div>
    <section class="list">
      <div class="row product">
      	{% for item in cart.items %}
        <div class="col-md-3 pic">
          <img src="{{ item.product.image.url }}" alter="product">
        </div>
        <div class="col-md-9 name">
          <p>{{ item.product.name }}</p>
        </div>
        <!-- details about product meta, quantity and price -->
        <div class="col-md-9 purchase-info">
          <div class="row">
            <div class="col-xs-6 meta">
              <span>Color:</span>&nbsp;<span>{{ item.product.color }}</span>
            </div>
            <section class="quantity">
              <div class="col-xs-2">
                <input type="number" value="{{ item.quantity }}">
              </div>
              <div class="col-xs-1">
                <span>*</span>
              </div>
            </section>
            <div class="col-xs-3 price">
              <span>${{ item.price }}</span>
            </div>
          </div>
        </div>
        <div class="col-md-9 remove">
          <a href="/cart/remove/?id={{ item.product.id }}">Remove</a>
        </div>
      </div>
      {% endfor %}
    </section>
    <div class="checkout bottom row">
      <div class="total-price col-md-5">
        <div class="single-item-price row">
          <div class="col-xs-6 price-tag">{{ cart.count }} item(s) subtotal:</div>
          <div class="col-xs-5 col-xs-offset-1 price"><span>$</span>&nbsp;<span>{{ cart.total }}</span></div>
        </div>
        <div class="shipping-price row">
          <div class="col-xs-6 price-tag">Handling & Shipping:</div>
          <div class="col-xs-5 col-xs-offset-1 price"><span>$</span>&nbsp;<span>{{ fee|floatformat:2 }}</span></div>
        </div>
        <div class="total row">
          <div class="col-xs-6 price-tag">Total:</div>
          <div class="col-xs-5 col-xs-offset-1 price"><span>$</span>&nbsp;<span>{{ total|floatformat:2 }}</span></div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 checkout-btn">
        <div class="row">
          <div class="col-xs-12">
            <input class="btn" type="submit" value="Secure Checkout">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 continue-shopping">
            <a href="/">Continue Shopping -></a>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>

{% endblock %}