{% extends 'basic/basic.html' %}

{% block content %}
{% load carton_tags %}
{% get_cart as cart %}

<script src="/static/js/project/checkout.js"></script>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
	braintree.setup("{{ client_token }}",
    "dropin",
     {
        container: 'dropin'
    })
</script>


<main>
  <article class="accordion-tabs">
    <!-- checkout form -->
    <section class="headers">
      <div class="row">
        <div class="col-xs-12 title">
          <ul class="accordion-tab-headers clearfix">
            <li name="shipping" class="col-md-4 tab-header">
              <a href="javascript:void(0)" class="is-active tab-link"><h4><span>1.</span>&nbsp;Shipping</h4></a>
            </li>
            <li name="billing" class="col-md-4 tab-header">
              <a href="javascript:void(0)" class="tab-link"><h4><span>2.</span>&nbsp;Billing</h4></a>
            </li>
            <li name="review" class="col-md-4 tab-header">
              <a href="javascript:void(0)" class="tab-link"><h4><span>3.</span>&nbsp;Review</h4></a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="contents">
      <div class="row">
        <!-- form section -->
        <section class="col-md-6 form">
          <form class="checkout-form accordion-tab-contents" id='checkout' action='/order/checkout/' method="POST">
          	{% csrf_token %}
            <!-- shipping section -->
            <section name="shipping" class="tab-content">
              <div class="title bottom-line">
                <h4>1.Shipping</h4>
              </div>
              <div class="subtitle">
                <h5>Shipping Address:</h5>
              </div>
              <fieldset class="fullname">
                <label>Full Name:</label>
                <input id="full_name" type="text">
              </fieldset>
              <fieldset class="address">
                <label>Street Address:</label>
                <input id="street" type="text">
              </fieldset>
              <fieldset class="zip">
                <label>Zip:</label>
                <input id="zip" type="text">
              </fieldset>
              <fieldset class="city">
                <label>City:</label>
                <input id="city" type="text">
              </fieldset>
              <fieldset class="country">
                <label>Country:</label>
                <input id="country" type="text">
              </fieldset>
              <fieldset class="state">
                <label>State:</label>
                <input id="state" type="text">
              </fieldset>
              <fieldset class="phone">
                <label>Phone:</label>
                <input id="phone" type="tel">
              </fieldset>
              <div class="subtitle">
                <h5>Contact Info:</h5>
              </div>
              <fieldset class="email">
                <label>Your Email address:</label>
                <input id="email" type="email">
              </fieldset>
              <fieldset class="update">
                <input type="checkbox" checked="checked">
                <label>Receive Updates?</label>
              </fieldset>
              <fieldset class="confirm">
                <button name="shipping" class="btn">Confirm</button>
              </fieldset>
            </section>
            <!-- shipping section end -->
            <!-- billing section -->
            <section name="billing" class="tab-content">
              <div class="title bottom-line">
                <h4>2.Billing</h4>
              </div>
              <div class="subtitle">
                <h5>Payment Method:</h5>
              </div>
              <fieldset class="ccn">
                <div id='dropin'></div>
              </fieldset>
              <div class="subtitle">
                <h5>Billing Address:</h5>
              </div>
              <fieldset class="new-billing">
                <input type="checkbox" checked="checked">
                <label>Same as shipping address?</label>
              </fieldset>
              <fieldset class="confirm">
                <button name="billing" class="btn">Confirm</button>
              </fieldset>
            </section>
            <!-- billing section end -->
            <!-- review section -->
            <section name="review" class="tab-content">
              <div class="title bottom-line">
                <h4>3.Review</h4>
              </div>
              <fieldset class="create-account">
                <input type="checkbox">
                <label>Yes! Create an account for me.</label>
              </fieldset>
              <fieldset class="password">
                <label>Enter a password to secure your account:</label>
                <input type="password" required>
                <label class="advice">Make sure to use a strong password.</label>
              </fieldset>
              <fieldset class="confirm">
                <label>Confirm Your Password:</label>
                <input type="password" required>
              </fieldset>
              <fieldset class="submit">
                <input id="shipping" name="shipping" class="btn" type="submit" value="Submit Order">
              </fieldset>
            </section>
            <!-- review section end -->
          </form>
        </section>
        <!-- form section end -->
        <!-- order-info section -->
        <section class="col-md-6 order-info">
          <div class="title bottom-line">
            <h4>Order Information</h4>
          </div>
          <!-- ordered products list -->
          <div class="order-list bottom-line">
          	{% for item in cart.items %}
            <div class="row product">
              <div class="col-md-4 pic">
                <img src="{{ item.product.image.url }}" alter="product">
              </div>
              <div class="col-md-8">
                <div class="name">
                  <p>{{ item.product.name }}</p>
                </div>
                <div class="meta">
                  <span>Color:</span>&nbsp;<span>{{ item.product.color }}</span>
                </div>
                <div class="subtotal">
                  <span>Subtotal:</span>&nbsp;<span>${{ item.subtotal|floatformat:2 }}</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <!-- ordered products list end -->
          <div class="shipping-price bottom-line">
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">{{ cart.count }} Item(s) Subtotal:</span></div>
              <div class="col-xs-6"><span>${{ cart.total|floatformat:2 }}</span></div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">Shipping:</span></div>
              <div class="col-xs-6"><span>$0.00</span></div>
            </div>
            <div class="row">
              <div class="col-xs-5 col-xs-offset-1">Tax:</span></div>
              <div class="col-xs-6"><span>$0.00</span></div>
            </div>
          </div>
          <div class="total">
            <div class="row">
              <h4>
                <div class="col-xs-5 col-xs-offset-1">Total:</span></div>
                <div class="col-xs-6"><span>${{ cart.total|floatformat:2 }}</span></div>
              </h4>
            </div>
          </div>
          <!-- <div class="address">
            <input type="radio" name="address" value="existed">(Home) Jason TC , xxxxx
            <br>
            <input type="radio" name="address" value="new" checked="checked">New Address
          </div> -->
        </section>
        <!-- order-info section end -->
      </div>
    </section>
  </article>
</main>

{% endblock %}