{% extends 'basic/basic.html' %}
{% block content %}
<main class="product-detail">
  <!-- breadcrumb section -->
  <div class="row">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><a href="#/home">Products</a></li>
        <li><a href="#/home">{{ product.category.name }}</a></li>
        <li class="active">{{ product.name }}</li>
      </ol>
    </div>
  </div>
  <!-- product profile section -->
  <section class="product-profile">
    <div class="row">
      <form class="profile-form" action="/cart/add/?id={{ product.id }}" method="POST">
        {% csrf_token %}
        <div class="col-md-5 pic">
          <img src="{{ product.image.url }}" alter="slider">
        </div>
        <div class="col-md-7 title">
          <h3>{{ product.name }}</h3>
        </div>
        <div class="col-md-7 disc clearfix">
          <p>{{ product.name }}</p>
        </div>
        <div class="col-md-7 purchase-info">
          <div class="row">
            <div class="col-md-15 price"><h4><span>$</span>&nbsp;<span>{{ product.price }}</span></h4></div>
            <div class="col-md-15 quantity"><input name='quantity' id='quantity' type="number" value="1"></div>
            <div class="col-md-15"></div>
            <div class="col-md-15"></div>
            <div class="col-md-15 reviews"><span>{{ reviews|length }}</span>&nbsp;Reviews</div>
          </div>
        </div>
        <div class="col-md-7 add-to-cart">
          <input type="submit" class="btn" value="Add To Cart">
        </div>
        <div class="col-md-7 rel-products">
          <ul class="row">
            <li class="col-md-3"><img src="{{ product.image.url }}" alter="slider"></li>
            <li class="col-md-3"><img src="{{ product.image.url }}" alter="slider"></li>
            <li class="col-md-3"><img src="{{ product.image.url }}" alter="slider"></li>
            <li class="col-md-3"><img src="{{ product.image.url }}" alter="slider"></li>
          </ul>
        </div>
      </form>
    </div>
  </section>
  <!-- product features section -->
  <section class="product-features">
    <div class="row">
      <!-- product features and specification body -->
      <article class="col-md-6 desc">
        <section>
          <h5 class="title">Features & Specification</h5>
          <div class="details">
            {{ product.detail }}
          </div>
        </section>
      </article>
      <!-- product features and specification body end -->
      <!-- product pic -->
      <div class="col-md-6 pic">
        <img src="{{ product.image.url }}" alter="slider">
      </div>
      <!-- product pic end -->
    </div>
  </section>
  <!-- review score section -->
  <section class="review-score">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="num">{{ reviews|length }} Reviews</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="rating-lg">
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- review details section -->
  <section class="review-details">
    {% for review in reviews %}
    <!-- user review #1 -->
    <div class="row review-detail">
      <div class="col-md-3">
        <!-- star rating -->
        <ul class="rating-sm">
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
          <li>
            <span class="glyphicon glyphicon-star"></span>
          </li>
        </ul>
        <!-- star rating end -->
        <!-- customer name -->
        <div>
          <a href="#/userProfile" class="customer">
            <span class="by">By</span>&nbsp;<span class="customer-name">{{ review.user.profile.nickname }}</span>
          </a>
        </div>
        <!-- customer name end -->
        <!-- review date -->
        <div class="date">
            <span class="date">March 13, 2015</span>
        </div>
        <!-- review date end -->
      </div>
      <!-- review body end -->
      <div class="col-md-9 review-body">
        <h4>It's Amazing</h4>
        <p>{{ review.content }}</p>
      </div>
      <!-- review body end -->
    </div>
    <!-- user review #1 end -->
    {% endfor %}
  </section>
</main>
{% endblock %}