{% extends 'basic/basic.html' %}

{% block content %}
<!-- Feature Products -->
<main>
  <div class="row">
    <div class="slider clearfix">
      <div class="left">
        <a href="/product/{{ feature_products.0.id }}"><img src="{{feature_products.0.image.url}}"></a>
      </div>

      <div class="right">
        <div class="right-top">
          <a href="/product/{{ feature_products.1.id }}"><img src="{{ feature_products.1.image.url }}"></a>
        </div>

        <div class="right-bottom">
          <a href="/product/{{ feature_products.2.id }}"><img src="{{ feature_products.2.image.url }}"></a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <!-- New Arrivals Products -->
  <div class="new-arrivals clearfix">
    <div class="subtitle row">
      <div class="col-xs-12">
        <h3>New Arrivals</h3>
      </div>
    </div>

    <div class="row">
      <ul class="list">
      	{% for product in newest_products %}
        <li class="col-md-15">
          <div class="product">
            <div class="pics">
              <a href="/product/{{ product.id }}"><img src="{{ product.image.url }}"></a>
            </div>

            <div class="disc">
              <p><a href="/product/{{ product.id }}">{{ product.name }}</a></p>
            </div>

            <div style="font-weight: bold">
              {{ product.price }}
            </div>
          </div>
        </li>
        	{% endfor %}
      </ul>
    </div>
  </div>
  <br>
  <!-- Best Selling Products -->
  <div class="best-sellings clearfix">
    <div class="subtitle row">
      <div class=" col-xs-12">
        <h3>Best Sellings</h3>
      </div>
    </div>

    <div class="row">
      <ul class="list">
        {% for product in newest_products %}
        <li class="col-md-15">
          <div class="product">
            <div class="pics">
              <a href="/product/{{ product.id }}"><img src="{{ product.image.url }}"></a>
            </div>

            <div class="disc">
              <p><a href="/product/{{ product.id }}">{{ product.name }}</a></p>
            </div>

            <div style="font-weight: bold">
              {{ product.price }}
            </div>
          </div>
        </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</main>
{% endblock %}