{% extends 'basic/basic.html' %}
{% block content %}

<main>
  <!-- shopping cart section -->
  <article class="register">
    <div class='row'>
    <!-- register section -->
      <section class="col-md-6 register-section">
        <div class="row top">
          <div class="col-xs-12 title">
            <h2>Create Account</h2>
          </div>
        </div>
        <form class="register-form" action="/account/register/" method='POST'>
        	{% csrf_token %}
          <fieldset class="username">
            {{ register_form.username.errors }}
            {{ register_form.username.label_tag }}
            {{ register_form.username }}
          </fieldset>

          <fieldset class="password">
            {{ register_form.email.errors }}
            {{ register_form.email.label_tag }}
            {{ register_form.email }}
          </fieldset>

          <fieldset class="password">
            {{ register_form.password.errors }}
            {{ register_form.password.label_tag }}
            {{ register_form.password }}
          </fieldset>

          <fieldset class="confirm">
            {{ register_form.password_check.errors }}
            {{ register_form.password_check.label_tag }}
            {{ register_form.password_check }}
          </fieldset>

          <fieldset class="terms">
            <input type="checkbox" required>
            <label>I agree to the Terms</label>
          </fieldset>
          <fieldset class="newsletter">
            <input type="checkbox">
            <label>Sign up for our newsletter</label>
          </fieldset>
          <fieldset>
            <input class="btn" type="submit" value="Create Account">
          </fieldset>
        </form>
      </section>
    <!-- register section end -->

    <!-- login section -->
      <section class="col-md-6 login-section">
        <div class="row top">
          <div class="col-xs-12 title">
            <h2>Login</h2>
          </div>
        </div>
        <form class="login-form" action="/account/login/" method='POST'>
          {% csrf_token %}
          <fieldset class="password">
            {{ login_form.email.errors }}
            {{ login_form.email.label_tag }}
            {{ login_form.email }}
          </fieldset>

          <fieldset class="password">
            {{ login_form.password.errors }}
            {{ login_form.password.label_tag }}
            {{ login_form.password }}
          </fieldset>

          <fieldset class="forgot">
            <a href="/account/forgot/">Forget Password?</a>
          </fieldset>
          <fieldset class="checkout">
            <input class="btn" type="submit" value="Login & Secure Checkout">
          </fieldset>
        </form>
      </section>
      <!-- login section end -->
    </div>
  </article>
</main>

{% endblock %}